/* Estilos generales */
body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

/* Estilos del header */
header {
    background: linear-gradient(135deg, #333, #007bff);
}

.perfil-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border: 4px solid #fff;
    margin-top: 10px;
}

/* Estilos para secciones */
h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/* Footer */
footer {
    margin-top: 20px;
}

/* Tarjetas de proyectos */
.card {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    width: 100%;
    height: 200px; /* Ajusta la altura según lo que necesites */
    object-fit: contain; /* Esto ajusta la imagen para que no se recorte, manteniendo su proporción */
    object-position: center; /* Asegura que la imagen esté centrada dentro del contenedor */
}